.start-screen {
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 80vh;
    max-height: 100vh;
    object-fit: cover;
  }
}
.start-button {
  position: absolute;
  top: 70vh;
  img {
    width: 40vh;
    height: auto;
    object-fit: cover;
    &:hover {
      filter: brightness(1.2);
      cursor: pointer;
    }
  }
}

@media (max-width: 960px) {
  .start-screen {
    overflow: hidden; 
  }
  .start-button {
    overflow: hidden;
  }
}
@media (max-width: 850px) {
  .start-screen {
    img {
      height: 60vh;
    }
  }
  .start-button{
    top: 67vh;
    img {
      width: 300px;
      height: 45px;
    }
  }
}
@media (max-width: 650px) {
  .start-screen {
    img {
      height: 40vh;
    }
  }
  .start-button{
    top: 62vh;
    img {
      width: 200px;
      height: 30px;
    }
  }
}
@media (max-width: 400px) {
  .start-screen {
    img {
      height: 30vh;
    }
  }
  .start-button{
    top: 58vh;
    img {
      width: 150px;
      height: 22px;
    }
  }
}